includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: var/phpstan
    excludePaths:
        analysis:
            - var/
            - vendor/
            - tests/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
